body {
    background:none;
    --color-shadow-highlight: #d9ff87;
    --color-shadow-primary: #86bb15;
    --color-border-highlight:#d9ff87;
    --color-border-highlight-alt: #86bb15;
    --color-text-hyperlink: #d9ff87;

}

a {
    color:#86bb15;
}

a:hover {
    color:#d9ff87;
}

[data-tooltip]::after {
    visibility : hidden !important;
    width:0;
    height:0;
}

[data-tooltip]::before {
    visibility : hidden !important;
    width:0;
    height:0;
}

#pause > img {
    content: url("../../assets/img/radioactive-icon-final.png");
    width: 200px;
    height: 200px;
    top: -50px;
    left: calc(50% - 100px);
    opacity: 0.7;
    animation-duration: 10s;
}

#hotbar .macro .macro-key{
    background:none;
}

#interface {
    /* background-image: url("../../assets/img/rust\ metal\ texture\ final.jpg"); */
    background-repeat:repeat;
    /* background-size: 25%; */
    background-image: url("../../assets/img/swamp\ landscape 2.png");
    background-size: auto 100%;
}

#logo {
    content: url("../../assets/img/logo.png");
    width: 200px;
    height: auto;
    -webkit-filter: drop-shadow(0px 2px 6px #222);
    filter: drop-shadow(0px 2px 6px #222);
}

.window-app .window-content {
    background-image: url("../../assets/img/my-denim.png");
    background-repeat:repeat;
}

.window-app{
    min-width:850px;
}

.i .icon .xdy {
    font-family: Lato,system-ui,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    content:none;
}

.i .icon .xdy::before{
    content:none;
}

.sheet header.sheet-header img.avatar-image {
    width:300px;
    height:300px;
    -webkit-mask-image: url("../../assets/img/avatar/mask.png");
    mask-image: url("../../assets/img/avatar/mask.png");
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    position:absolute;
    z-index:9;
}

.sheet header.sheet-header img.avatar-image-overlay {
    width:300px;
    height:300px;
    position:absolute;
    left:8px;
    top:38px;
    z-index: 10;
}

h2 {
    color:#86bb15;
    border-bottom:unset;
}

.ui.grid>[class*="eight wide"].column.equipment-button {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    line-height: normal;
}

.equipment-button-component{
    color:rgba(255,255,255,0.3);
    justify-content: center;
    align-items: center;
    text-align:center;
    line-height: normal;
    box-shadow: 0px 0px 10px black;
    background-color: rgba(0,0,0,0.3);
    border-radius:10px;
    display: flex;
    width:100%;
    height:100%;
}