body {
    background:none;
    --stalker-highlight: #d9ff87;
    --stalker-secondary: #86bb15;
    --stalker-input-background: rgba(0,0,0,0.3);
    --color-shadow-highlight: var(--stalker-highlight);
    --color-shadow-primary: var(--stalker-secondary);
    --color-border-highlight:var(--stalker-highlight);
    --color-border-highlight-alt: var(--stalker-secondary);
    --color-text-hyperlink: var(--stalker-highlight);
    --color-text-dark-primary:#76a313;
    --color-text-dark-secondary:#5a7c11;
    --color-bg-option: #333;
    --color-border-light-highlight: #222;
    --color-border-light-primary: #333;
    --color-border-light-secondary: #444;
    --color-border-light-tertiary: #555;
    cursor: url('../../assets/img/ui_ani_cursor_01.png'), auto;
}

a {
    color:#86bb15;
}

a:hover {
    color:#d9ff87;
}

[data-tooltip]::after {
    visibility : hidden !important;
    width:0;
    height:0;
}

[data-tooltip]::before {
    visibility : hidden !important;
    width:0;
    height:0;
}

#pause > img {
    content: url("../../assets/img/radioactive-icon-final.png");
    width: 200px;
    height: 200px;
    top: -50px;
    left: calc(50% - 100px);
    opacity: 0.7;
    animation-duration: 10s;
}

#hotbar .macro .macro-key{
    background:none;
}

#interface {
    /* background-image: url("../../assets/img/rust\ metal\ texture\ final.jpg"); */
    background-repeat:repeat;
    /* background-size: 25%; */
    background-image: url("../../assets/img/swamp\ landscape 2.png");
    background-size: auto 100%;
}

#logo {
    content: url("../../assets/img/logo.png");
    width: 200px;
    height: auto;
    -webkit-filter: drop-shadow(0px 2px 6px #222);
    filter: drop-shadow(0px 2px 6px #222);
}

.window-app .window-content {
    background-image: url("../../assets/img/my-denim.png");
    background-repeat:repeat;
}

.window-app{
    min-width:850px;
}

.i .icon .xdy {
    font-family: Lato,system-ui,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    content:none;
}

.i .icon .xdy::before{
    content:none;
}

.header-image-collection{
    position:relative;
    flex:0.5 !important;
    margin:auto;
    justify-content:center;
    display:flex;
}

.sheet header.sheet-header img.avatar-image {
    width:200px;
    height:200px;
    -webkit-mask-image: url("../../assets/img/avatar/mask.png");
    mask-image: url("../../assets/img/avatar/mask.png");
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    position:relative;
    z-index:9;
}

.sheet header.sheet-header img.avatar-image-overlay {
    width:200px;
    height:200px;
    position:absolute;
    z-index: 10;
}

.header-image-slow-pulse-animation {
    animation-name: faint-pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.header-image-fast-pulse-animation {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.directory .directory-item.document {
    min-height: var(--sidebar-item-height);
}

.directory .directory-item img {
    height:auto;
    width:auto;
    margin:auto;
    max-width: var(--sidebar-item-height);
}

h1 {
    color:var(--stalker-highlight);
    font-size:17px;
}

h2 {
    color:var(--stalker-secondary);
    font-size:15px;
    border-bottom:unset;
}

.ui.grid>[class*="eight wide"].column.equipment-button {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    line-height: normal;
}

.equipment-button-component{
    color:rgba(255,255,255,0.3);
    justify-content: center;
    align-items: center;
    text-align:center;
    line-height: normal;
    box-shadow: 0px 0px 10px black;
    background-color: var(--stalker-input-background);
    border-radius:10px;
    display: flex;
    width:100%;
    height:100%;
}

.tabs .item.active {
    animation-name: radioactive-glow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

select {
    color: var(--stalker-secondary);
}

button {
    color: var(--stalker-highlight);
    background-color: var(--stalker-input-background);
    font-size:12px;
}

.directory .directory-header .header-search input{
    background:rgba(0,0,0,0.5);
}

/* PROTECTION DICE */
.ui[class*="right labeled"].icon.button:hover{
    color:white !important;
    text-shadow: 0 0 10px white !important;
    box-shadow: 0 0 5px var(--stalker-secondary);
}

.ui[class*="right labeled"].icon.button{
    padding-top:5px;
    padding-bottom:5px;
    font-size: 12px;
    /* background: url(../../assets/img/rust\ metal\ texture\ final.jpg); */
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    background-color:#222;
    /* color:var(--stalker-secondary); */
}

.ui[class*="right labeled"].icon.button>.icon{
    padding-top:5px;
    padding-bottom:5px;
    font-size: 12px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    background-color:#333;
    /* color:var(--stalker-secondary); */
}

.ui.grid>.column.protection-dice:not(.row){
    padding:10px;
}

/* INCREASE/DECREASE BUTTONS */
.ui.buttons:not(.basic):not(.inverted)>.button:not(.basic):not(.inverted){
    padding-top:5px;
    padding-bottom:5px;
    font-size: 12px;
    /* background: url(../../assets/img/rust\ metal\ texture\ final.jpg); */
    background-color:#444;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    color:var(--stalker-secondary);
}

.ui.buttons:not(.basic):not(.inverted)>.button:not(.basic):not(.inverted):hover{
    color:white;
    box-shadow: 0 0 5px var(--stalker-secondary);
    /* background: url(../../assets/img/rust\ metal\ texture.jpg); */
    background-color:#777;
}

.ui.grid>.column.increase-decrease-button:not(.row) {
    padding:5px;
}

/* */

input {
    background-color: var(--stalker-input-background);
}

input[type="text"] {
    background-color: var(--stalker-input-background);
}

input[type="number"] {
    background-color: var(--stalker-input-background);
}

input[type="checkbox"]{
    background-color: var(--stalker-input-background);
    color: var(--stalker-highlight);
    accent-color: var(--stalker-input-background);
}

.actor-tabs {
    margin-top:20px;
    margin-bottom:20px;
    border-bottom: 1px solid;
    box-shadow: 0 10px 10px -5px rgb(0 0 0 / 50%);
}

.actor-tabs-item {
    margin-bottom:10px;
}

.actor-tabs-body {
    margin:10px;
}

.actor-tabs-body-header {
    text-align:center;
}

.inventory-row{
    display:block;
    /* text-align:center; */
    margin-bottom:4px;
    margin-top:4px;
    position:relative;
}

.inventory-grid{
    margin:auto;
}

.inventory-button{
    --inventory-button-size:45px;
    color:rgba(255,255,255,0.3);
    font-size:8px;
    margin:0px;
    width:var(--inventory-button-size);
    height:var(--inventory-button-size);
    max-width:var(--inventory-button-size);
    max-height:var(--inventory-button-size);
    min-height:var(--inventory-button-size);
    min-width:var(--inventory-button-size);
    position:relative;
    z-index:5;
    border: 2px solid rgba(0,0,0,0.2);
}

.optionalLanding{
    animation-name: correctSlot;
    animation-duration: 1s;
}

.wrongLanding{
    animation-name: wrongSlot;
    animation-duration: 1s;
}

.drop-item{
    height:50px;
    visibility: hidden;
}

.delete-item{
    height:50px;
    visibility: hidden;
}

.item-description-tabs-body{
    width:100%;
    height:100%;
}

/* ANIMATIONS */

@keyframes pulse {
    0% {opacity: 100%;}
    50% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes faint-pulse {
    0% {opacity: 100%;}
    50% {opacity: 50%;}
    100% {opacity: 100%;}
}

@keyframes radioactive-glow {
    0%   {color: #76a313;}
    50%  {color: var(--stalker-highlight);}
    100% {color: #76a313;}
}

@keyframes cursor{
    12% {cursor: url('../../assets/img/ui_ani_cursor_01.png'), auto}
    25% {cursor: url('../../assets/img/ui_ani_cursor_02.png'), auto}
    37% {cursor: url('../../assets/img/ui_ani_cursor_03.png'), auto}
    50% {cursor: url('../../assets/img/ui_ani_cursor_04.png'), auto}
    62% {cursor: url('../../assets/img/ui_ani_cursor_05.png'), auto}
    75% {cursor: url('../../assets/img/ui_ani_cursor_06.png'), auto}
    87% {cursor: url('../../assets/img/ui_ani_cursor_07.png'), auto}
    100% {cursor: url('../../assets/img/ui_ani_cursor_08.png'), auto}
}

@keyframes correctSlot{
    0% {box-shadow: 0 0 5px rgba(255,255,255,1);}
    100% {box-shadow: 0 0 5px rgba(255,255,255,0);}
}

@keyframes wrongSlot {
    0% {box-shadow: 0 0 5px rgba(203, 104, 104,1);}
    100% {box-shadow: 0 0 5px rgba(203, 104, 104,0);}
}
