<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header" style="align-items:normal; min-height:260px">
        <div class="header-image-collection">
            <img src="{{actor.img}}" title="{{actor.name}}" class="avatar-image" />
            <img src="{{systemData.avatarBorder}}" class="avatar-image-overlay" />
            <img src="{{systemData.stressImage}}" class="avatar-image-overlay" style="z-index:12" />
            <img src="{{systemData.sanityBackground}}" class="avatar-image-overlay" style="z-index:13" />
            <img src="{{systemData.sanityImage}}" class="avatar-image-overlay {{actor.image_class.sanity}}" style="z-index:14" />
            <img src="{{systemData.healthImage}}" class="avatar-image-overlay {{actor.image_class.health}}" style="z-index:15" />
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" class="avatar-image-overlay" style="z-index:500; opacity: 0;"/>
        </div>
        <div class="content" style="margin-right:20px">
            <div class="ui grid">
                <div class="ten wide column">
                    <h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}"
                            style="color:white"/></h1>
                    <div class="ui grid">
                        <div class="four wide column">
                            <p style="color:#86bb15; margin: 0px 10px 0px 10px">Soldier</p>
                        </div>
                        <div class="twelve wide column">
                            <input name="money" type="number" value="{{actor.system.money}}" placeholder="{{actor.system.money}}" style="width:80%"/> RU
                        </div>
                    </div>
                </div>
                <div class="six wide column">
                    <button id="actor-sanity-roll">sanity roll</button>
                </div>
                <div class="ten wide column" style="padding-right:1.5rem">
                    <h2 style="text-align:center">Protective dice</h2>
                    <div class="ui grid">
                        <div class="eight wide column protection-dice">
                            <button class="ui right labeled icon button" id="actor-physical-protection-roll"
                                style="color:rgb(100,100,255); text-shadow: 0 0 10px blue">
                                <i class="icon xdy">{{actor.roll.physical.roll}}</i>
                                Physical
                            </button>
                        </div>
                        <div class="eight wide column protection-dice">
                            <button class="ui right labeled icon button" id="actor-ballistic-protection-roll"
                                style="color:rgb(255,255,100); text-shadow: 0 0 10px yellow">
                                <i class="icon xdy">{{actor.roll.ballistic.roll}}</i>
                                Ballistic
                            </button>
                        </div>
                        <div class="eight wide column protection-dice">
                            <button class="ui right labeled icon button" id="actor-burning-protection-roll"
                                style="color:rgb(255,100,100); text-shadow: 0 0 10px red">
                                <i class="icon xdy">{{actor.roll.burning.roll}}</i>
                                Burning
                            </button>
                        </div>
                        <div class="eight wide column protection-dice">
                            <button class="ui right labeled icon button" id="actor-freezing-protection-roll"
                                style="color:rgb(100,255,255); text-shadow: 0 0 10px cyan">
                                <i class="icon xdy">{{actor.roll.freezing.roll}}</i>
                                Freezing
                            </button>
                        </div>
                        <div class="eight wide column protection-dice">
                            <button class="ui right labeled icon button" id="actor-decay-protection-roll"
                                style="color:rgb(100,255,100); text-shadow: 0 0 10px green">
                                <i class="icon xdy">{{actor.roll.decay.roll}}</i>
                                Decay
                            </button>
                        </div>
                        <div class="eight wide column protection-dice">
                            <button class="ui right labeled icon button" id="actor-mind-protection-roll"
                                style="color:rgb(255,100,255); text-shadow: 0 0 10px magenta">
                                <i class="icon xdy">{{actor.roll.mind.roll}}</i>
                                Mind
                            </button>
                        </div>
                    </div>
                </div>
                <div class="six wide column" style="padding-left:1.5rem">
                    <div class="ui grid">
                        <div class="sixteen wide column increase-decrease-button">
                            <p style="color:#86bb15; margin: 0px 10px 0px 10px; text-align:center;">Health Points</p>
                            <div class="ui icon buttons" style="width:100%">
                                <button class="ui button" style="flex:unset;" id="decrease-health-button">
                                    <i class="left arrow icon"></i>
                                </button>
                                <button class="ui disabled button tooltip"
                                    style="flex:unset; opacity:1!important; color: rgba(255,100,100,1);; background:#222; text-shadow: 0 0 10px red; box-shadow:none">
                                    {{actor.system.health.value}}/{{actor.system.health.max}}
                                </button>
                                <button class="ui button number-input-button" style="flex:unset;"
                                    id="increase-health-button">
                                    <i class="right arrow icon"></i>
                                </button>
                            </div>
                        </div>

                        <div class="sixteen wide column increase-decrease-button">
                            <p style="color:#86bb15; margin: 0px 10px 0px 10px; text-align:center;">Sanity Points</p>
                            <div class="ui icon buttons" style="width:100%">
                                <button class="ui button" style="flex:unset;" id="decrease-sanity-button">
                                    <i class="left arrow icon"></i>
                                </button>
                                <button class="ui disabled button"
                                    style="flex:unset; opacity:1!important; color: rgba(100,255,255,1);; background:#222; text-shadow: 0 0 10px cyan; box-shadow:none">
                                    {{actor.system.sanity.value}}/{{actor.system.sanity.max}}
                                </button>
                                <button class="ui button" style="flex:unset;" id="increase-sanity-button">
                                    <i class="right arrow icon"></i>
                                </button>
                            </div>
                        </div>

                        <div class="sixteen wide column increase-decrease-button">
                            <p style="color:#86bb15; margin: 0px 10px 0px 10px; text-align:center;">Stress Points</p>
                            <div class="ui icon buttons" style="width:100%">
                                <button class="ui button" style="flex:unset;" id="decrease-stress-button">
                                    <i class="left arrow icon"></i>
                                </button>
                                <button class="ui disabled button"
                                    style="flex:unset; opacity:1!important; color: rgba(255,255,100,1);; background:#222; text-shadow: 0 0 10px yellow; box-shadow:none">
                                    {{actor.system.stress.value}}/{{actor.system.stress.max}}
                                </button>
                                <button class="ui button" style="flex:unset;" id="increase-stress-button">
                                    <i class="right arrow icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <nav class="tabs actor-tabs" data-group="actor-tabs">
        <a class="item actor-tabs-item" data-tab="actions">Actions</a>
        <a class="item actor-tabs-item" data-tab="inventory">Inventory</a>
        <a class="item actor-tabs-item" data-tab="skills">Skills</a>
        <a class="item actor-tabs-item" data-tab="preps">Preps</a>
        <a class="item actor-tabs-item" data-tab="conditions">Conditions</a>
    </nav>

    <div class="content actor-tabs-body">

        <!-- ACTIONS -->
        <div class="tab" data-tab="actions" data-group="actor-tabs"> <h2 class="actor-tabs-body-header">Actions</h2> </div>

        <!-- INVENTORY & EQUIPMENT -->
        <div class="tab" data-tab="inventory" data-group="actor-tabs">
            <div class="ui grid">
                <!-- INVENTORY -->
                <div class="nine wide column">
                    <h2 class="actor-tabs-body-header">Inventory</h2>
                    <div class="inventory-grid">
                        {{#each systemData.backpack.items as |itemRow|}}
                            <div class="inventory-row">
                                {{#each itemRow as |item|}}
                                    {{#if item.img}}
                                        <img src="{{item.img}}" style="{{item.imgStyle}}" class="landing inventory item" data-document-id="{{item.contains}}"/>
                                    {{/if}}
                                    <button class="inventory-button landing inventory item" id="inventory-button_{{@../index}}-{{@index}}" data-document-id="{{item.contains}}" data-item-id="{{item.contains}}">
                                    </button>
                                {{/each}}
                            </div>
                        {{/each}}
                        <button class="add-extra-bag-button"><i class="plus icon"></i></button>
                    </div>'
                    <div class="ui grid" style="display:block">
                        {{#each actor.system.extra_bags as |extra_bag|}}
                            <table style="border:none; background:none; width:unset; margin:auto; position:relative">
                                <tr>
                                    <td>
                                        <div class="extra-bag-grid extra-bag-index-{{@index}}">
                                            {{#each extra_bag.items as |itemRow|}}
                                                <div class="extra-bag-row">
                                                    {{#each itemRow as |item|}}
                                                        {{#if item.img}}
                                                            <img src="{{item.img}}" style="{{item.imgStyle}}" class="landing extra-bag item extra-bag-index-{{@../../index}}" data-document-id="{{item.contains}}"/>
                                                        {{/if}}
                                                        <button class="extra-bag-button landing extra-bag item extra-bag-index-{{@../../index}}" id="extra-bag-button_{{@../index}}-{{@index}}" data-document-id="{{item.contains}}" data-item-id="{{item.contains}}">
                                                        </button>
                                                    {{/each}}
                                                </div>
                                            {{/each}}
                                        </div>
                                    </td>
                                    <td>
                                        <input type="number" class="extra-bag-height-{{@index}}" value="{{extra_bag.height}}" style="margin-left: 15px; width: 25px;"/>
                                        <label>Height</label>
                                    </td>
                                </tr>
                                <tr style="background:none">
                                    <td>
                                        <div style="display: flex; justify-content: center; align-items: center;">
                                            <input type="number" class="extra-bag-width-{{@index}}" value="{{extra_bag.width}}" style="width: 25px;"/>
                                            <label>Width</label>
                                        </div>
                                    </td>
                                    <td>
                                        <button class="remove-extra-bag-button extra-bag-index-{{@index}}"><i class="trash icon"></i></button>
                                    </td>
                                </tr>
                            </table>
                        {{/each}}
                    </div>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <button class="landing drop-item item">
                                DROP
                            </button>
                        </div>
                        <div class="eight wide column">
                            <button class="landing delete-item item">
                                DELETE
                            </button>
                        </div>
                    </div>
                </div>

                <!-- EQUIPMENT -->
                <div class="seven wide column">
                    <h2 class="actor-tabs-body-header">Equipment</h2>
                    <div class="ui grid" style="margin-left:auto; margin-right:auto;">
                        {{#if systemData.equipment.holding.enabled}}
                        <div class="eight wide column equipment-button">
                            <div class="equipment-button-component landing" id="equipment-holding" data-document-id="{{systemData.equipment.holding.item}}" style="background-image:url({{actor.system.equipment.holding.img}});">
                                HOLDING
                            </div>
                        </div>
                        {{/if}}
                        {{#if systemData.equipment.body.enabled}}
                        <div class="eight wide column equipment-button ">
                            <div class="equipment-button-component landing" id="equipment-body" data-document-id="{{systemData.equipment.body.item}}" style="background-image:url({{actor.system.equipment.body.img}});">
                                BODY
                            </div>
                        </div>
                        {{/if}}
                        {{#if systemData.equipment.head.enabled}}
                        <div class="eight wide column equipment-button ">
                            <div class="equipment-button-component landing" id="equipment-head" data-document-id="{{systemData.equipment.head.item}}" style="background-image:url({{actor.system.equipment.head.img}});">
                                HEAD
                            </div>
                        </div>
                        {{/if}}
                        {{#if systemData.equipment.augmentation_artifact.enabled}}
                        <div class="eight wide column equipment-button ">
                            <div class="equipment-button-component landing" id="equipment-augmentation-artifact" data-document-id="{{systemData.equipment.augmentation_artifact.item}}" style="background-image:url({{actor.system.equipment.augmentation_artifact.img}});">
                                AUGMENTATION ARTIFACT
                            </div>
                        </div>
                        {{/if}}
                        {{#if systemData.equipment.protection_artifact.enabled}}
                        <div class="eight wide column equipment-button ">
                            <div class="equipment-button-component landing" id="equipment-protection-artifact" data-document-id="{{systemData.equipment.protection_artifact.item}}" style="background-image:url({{actor.system.equipment.protection_artifact.img}});">
                                PROTECTION ARTIFACT
                            </div>
                        </div>
                        {{/if}}
                        {{#each systemData.equipment.powerword_artifacts as |powerword_artifact|}}
                            {{#if powerword_artifact.enabled}}
                            <div class="eight wide column equipment-button ">
                                <div class="equipment-button-component landing" id="equipment-powerword-artifact-{{@index}}" data-document-id="{{systemData.equipment.powerword_artifacts.[@index].item}}" style="background-image:url({{actor.system.equipment.powerword_artifacts.[@index].img}});">
                                    POWERWORD ARTIFACT
                                </div>
                            </div>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>

        </div>

        <!-- SKILLS -->
        <div class="tab" data-tab="skills" data-group="actor-tabs">
            <h2 class="actor-tabs-body-header">Skills</h2>
            <input type="number">Skill points: {{systemData.skillpoints}}</input>
            <div style="display:grid">
                {{#each actor.system.skills as |skill|}}
                    <div style="margin-top:5px; margin-bottom:5px; text-align: center">
                        <button style="width:unset; min-width:250px; margin-right:20px;" id="actor-{{skill.name}}-roll">{{skill.name}}</button>
                        <div class="ui icon buttons">
                            <button class="ui button" style="width:25%" id="actor-{{skill.name}}-decrease"><i class="left arrow icon"></i></button>
                            <button class="ui disabled button" style="width:50%">{{skill.attribute.roll}}</button>
                            <button class="ui button" style="width:25%" id="actor-{{skill.name}}-increase"><i class="right arrow icon"></i></button>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <!-- PREPS -->
        <div class="tab" data-tab="preps" data-group="actor-tabs">
            <h2 class="actor-tabs-body-header">Preps</h2>
            <div class="ui grid" style="display:block">
                {{#each actor.system.preps as |prep|}}
                <div class="landing prep-drop" data-document-id="{{prep.itemId}}" id="prep {{@index}}">
                    {{#if prep.itemId}}
                        <img src="{{prep.img}}" style="width:40px; height:40px; margin-right:20px;"/>
                        <button id="prep {{@index}}" class="prep-button">{{prep.name}}</button>
                        <button class="delete-prep" style="width:40px; height:40px; margin-left:10px;"><i class="trash icon" style="margin:0"></i></button>
                    {{else}}
                        <img style="width:40px; height:40px; margin-right:20px;"/>
                        <button class="prep-button" id="prep {{@index}}"></button>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
        <!-- CONDITIONS -->
        <div class="tab" data-tab="conditions" data-group="actor-tabs">
            <h2 class="actor-tabs-body-header">Conditions</h2>
            <div style="display:block">
                <div class="landing condition-drop">Drop conditions here <i class="caret down icon" style="margin:0"></i></div>
                {{#if actor.system.conditions.length}}
                    {{#each actor.system.conditions as |condition|}}
                    <div class="condition-item" style="display:flex; margin-top:2px; margin-bottom:2px;" data-document-id="{{condition.itemId}}">
                        <img src="{{condition.img}}" style="width:30px; height:30px; margin-right:20px;"/>
                        <button class="condition-button">{{condition.name}}</button>
                        <button class="delete-condition" style="width:30px; height:30px; margin-left:10px;"><i class="trash icon" style="margin:0"></i></button>
                    </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
</form>