<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header" style="align-items:normal; min-height:260px">
        <div class="header-image-collection">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" class="avatar-image" />
            <img src="{{systemData.avatarBorder}}" class="avatar-image-overlay" />
            <img src="{{systemData.stressImage}}" class="avatar-image-overlay" style="z-index:12" />
            <img src="{{systemData.sanityBackground}}" class="avatar-image-overlay" style="z-index:13" />
            <img src="{{systemData.sanityImage}}" class="avatar-image-overlay" style="z-index:14" />
            <img src="{{systemData.healthImage}}" class="avatar-image-overlay" style="z-index:15" />
        </div>
        <div class="content" style="margin-right:20px">
            <div class="ui grid">
                <div class="ten wide column">
                    <h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}"
                            style="color:white" /></h1>
                    <p style="color:#86bb15; margin: 0px 10px 0px 10px">Soldier</p>
                </div>
                <div class="six wide column">
                    <button id="actor-sanity-roll">sanity roll</button>
                    <input name="money" type="number" value="200" />
                </div>
                <div class="ten wide column" style="padding-right:1.5rem">
                    <h2 style="text-align:center">Protective dice</h2>
                    <div class="ui grid">
                        <div class="eight wide column protection-dice">
                            <button class="ui right labeled icon button"
                                style="color:rgb(100,100,255); text-shadow: 0 0 10px blue">
                                <i class="icon xdy">{{actor.protectiveDice.physical}}</i>
                                Physical
                            </button>
                        </div>
                        <div class="eight wide column protection-dice">
                            <button class="ui right labeled icon button"
                                style="color:rgb(255,255,100); text-shadow: 0 0 10px yellow">
                                <i class="icon xdy">{{actor.protectiveDice.ballistic}}</i>
                                Ballistic
                            </button>
                        </div>
                        <div class="eight wide column protection-dice">
                            <button class="ui right labeled icon button"
                                style="color:rgb(255,100,100); text-shadow: 0 0 10px red">
                                <i class="icon xdy">{{actor.protectiveDice.burning}}</i>
                                Burning
                            </button>
                        </div>
                        <div class="eight wide column protection-dice">
                            <button class="ui right labeled icon button"
                                style="color:rgb(100,255,255); text-shadow: 0 0 10px cyan">
                                <i class="icon xdy">{{actor.protectiveDice.freezing}}</i>
                                Freezing
                            </button>
                        </div>
                        <div class="eight wide column protection-dice">
                            <button class="ui right labeled icon button"
                                style="color:rgb(100,255,100); text-shadow: 0 0 10px green">
                                <i class="icon xdy">{{actor.protectiveDice.decay}}</i>
                                Decay
                            </button>
                        </div>
                        <div class="eight wide column protection-dice">
                            <button class="ui right labeled icon button"
                                style="color:rgb(255,100,255); text-shadow: 0 0 10px magenta">
                                <i class="icon xdy">{{actor.protectiveDice.mind}}</i>
                                Mind
                            </button>
                        </div>
                    </div>
                </div>
                <div class="six wide column" style="padding-left:1.5rem">
                    <div class="ui grid">
                        <div class="sixteen wide column increase-decrease-button">
                            <p style="color:#86bb15; margin: 0px 10px 0px 10px; text-align:center;">Health Points</p>
                            <div class="ui icon buttons" style="width:100%">
                                <button class="ui button" style="flex:unset;" id="decrease-health-button">
                                    <i class="left arrow icon"></i>
                                </button>
                                <button class="ui disabled button tooltip"
                                    style="flex:unset; opacity:1!important; color: rgba(255,100,100,1);; background:#222; text-shadow: 0 0 10px red; box-shadow:none">
                                    {{actor.system.health.value}}/{{actor.system.health.max}}
                                </button>
                                <button class="ui button number-input-button" style="flex:unset;"
                                    id="increase-health-button">
                                    <i class="right arrow icon"></i>
                                </button>
                            </div>
                        </div>

                        <div class="sixteen wide column increase-decrease-button">
                            <p style="color:#86bb15; margin: 0px 10px 0px 10px; text-align:center;">Sanity Points</p>
                            <div class="ui icon buttons" style="width:100%">
                                <button class="ui button" style="flex:unset;" id="decrease-sanity-button">
                                    <i class="left arrow icon"></i>
                                </button>
                                <button class="ui disabled button"
                                    style="flex:unset; opacity:1!important; color: rgba(100,255,255,1);; background:#222; text-shadow: 0 0 10px cyan; box-shadow:none">
                                    {{actor.system.sanity.value}}/{{actor.system.sanity.max}}
                                </button>
                                <button class="ui button" style="flex:unset;" id="increase-sanity-button">
                                    <i class="right arrow icon"></i>
                                </button>
                            </div>
                        </div>

                        <div class="sixteen wide column increase-decrease-button">
                            <p style="color:#86bb15; margin: 0px 10px 0px 10px; text-align:center;">Stress Points</p>
                            <div class="ui icon buttons" style="width:100%">
                                <button class="ui button" style="flex:unset;" id="decrease-stress-button">
                                    <i class="left arrow icon"></i>
                                </button>
                                <button class="ui disabled button"
                                    style="flex:unset; opacity:1!important; color: rgba(255,255,100,1);; background:#222; text-shadow: 0 0 10px yellow; box-shadow:none">
                                    {{actor.system.stress.value}}/{{actor.system.stress.max}}
                                </button>
                                <button class="ui button" style="flex:unset;" id="increase-stress-button">
                                    <i class="right arrow icon"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <div class="ui top attached tabular menu">
        <a class="item" data-tab="actions">Actions</a>
        <a class="item" data-tab="equipment">Equipment</a>
        <a class="item" data-tab="inventory">Inventory</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="preps">Preps</a>
        <a class="item" data-tab="conditions">Conditions</a>
    </div>
    {{#if (eq actor.tab "action")}}
    {{/if}}
    <div class="ui bottom attached tab segment" data-tab="actions">
        <h2>Actions</h2>
    </div>
    <div class="ui bottom attached tab segment" data-tab="equipment">
        <h2>Equipment</h2>
        <div class="ui grid">
            <div class="eight wide column equipment-button ">
                <div class="equipment-button-component">
                    LEFT HAND
                </div>
            </div>
            <div class="eight wide column equipment-button ">
                <div class="equipment-button-component">
                    RIGHT HAND
                </div>
            </div>
            <div class="eight wide column equipment-button ">
                <div class="equipment-button-component">
                    BODY
                </div>
            </div>
            <div class="eight wide column equipment-button ">
                <div class="equipment-button-component">
                    HEAD
                </div>
            </div>
            <div class="eight wide column equipment-button ">
                <div class="equipment-button-component">
                    AUGMENTATION ARTIFACT
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="inventory">
        <h2>Inventory</h2>
        <div class="ui grid">
            <div class="seven column row equipment-button">
                <div class="column equipment-button-component">1</div>
                <div class="column equipment-button-component">2</div>
                <div class="column equipment-button-component">3</div>
                <div class="column equipment-button-component">4</div>
                <div class="column equipment-button-component">5</div>
                <div class="column equipment-button-component">6</div>
                <div class="column equipment-button-component">7</div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="skills">
        <h2>Skills</h2>
    </div>
    <div class="ui bottom attached tab segment" data-tab="preps">
        <h2>Preps</h2>
    </div>
    <div class="ui bottom attached tab segment" data-tab="conditions">
        <h2>Conditions</h2>
    </div>
</form>