<form class="{{cssClass}}" autocomplete="off" style="min-height: 200px">
    <header class="sheet-header">
        <div style="flex:auto">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}" class="prep-image"
                    data-document-id="{{item.id}}" style="height:auto; width:auto; max-height:200px; outline: 5px ridge rgb(100,100,100); margin: 10px;" />
            </div>
        </div>
        <div style="flex:auto">
            <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}" /></h1>
        </div>
    </header>

    <div style="background-image: url(./systems/inside-the-zone/assets/img/web/flat-lay-metal-surface_seemless.png); outline: ridge 5px rgb(100,100,100); padding: 20px 0 10px 0; margin: 10px; box-shadow: inset 0 0 20px rgb(0 0 0);">
        <nav class="tabs item-description-tabs" data-group="item-description-tabs">
            <div style="margin-left:auto; margin-right:30px; margin-bottom: -4px;">
                <a class="item item-description-tabs-item" data-tab="display"><i class="clipboard icon"
                        style="margin-right: -1px"></i></a>
                <a class="item item-description-tabs-item" data-tab="edit"><i class="edit icon"
                        style="margin-right: -2px"></i></a>
            </div>
        </nav>

        <div class="ui grid" style="margin:10px;">
            <div class="content item-description-tabs-body">
                <div class="tab description-display" data-tab="display" data-group="item-description-tabs">
                    {{item.system.description}}</div>
                <div class="tab" data-tab="edit" data-group="item-description-tabs">
                    <textarea class="description" rows="4"
                        style="color: var(--color-text-dark-primary); border-color: var(--color-text-dark-primary);">{{item.system.description}}</textarea>
                </div>
            </div>
        </div>
    </div>
</form>